/*
	LEVEL ONE
	ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; }
	*/

ul.list-menu                         { position: relative; }

ul.list-menu a:hover		            {  }

ul.list-menu li a                    { display: block;   }
ul.list-menu li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.list-menu li.hover,
ul.list-menu li:hover                { position: relative; }
ul.list-menu li.hover a              { }


/*
	LEVEL TWO
*/
ul.list-menu ul 						{ width: 220px; visibility: hidden; position: absolute; top: 0; left: 100%; }
ul.list-menu ul li 					{ font-weight: normal;float: none; }

/* IE 6 & 7 Needs Inline Block */
ul.list-menu ul li a					{ border-right: none; width: 100%; display: inline-block; }

/*
	LEVEL THREE  border-radius: 0 18px 18px 0;
*/
ul.list-menu ul ul 					{ left: 100%; top: 0; }
ul.list-menu li:hover > ul 			{ visibility: visible; background-color: #e4f4ce;  }

